/* Store Css */
.cssFlexBox{
    display: flex;
    justify-content: center;
}

.CartFlex{
    display: flex;
    justify-content: space-between;
}

.navSizing{
    width: auto;
    height: 47.550px;
    background-color: #002417;
}

.navigationBar {
    overflow: hidden;
    background-color: #002417;
}
  
.navigationBar a {
    float: left;
    color: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}

.TopWordsFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.topLineNav {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    position: relative;
    color:  #FFF;
}
  
.topLineNav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 1cm;
    bottom: 0;
    left: 0;
    background-color:  #FFF;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
  
.topLineNav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.imgLocations{
    width: 400px;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.StoreimgFlexing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.StoreimgCol
{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
}

.textSmallFonts{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
}

.StoreDetails{
    width: 300px;
    cursor: pointer;
}

.cartButton{
    width: 200px;

    color: white;
    background-color: black;
    border: none;
}

.cartButton:hover{
    color: #FFF;
    background-color: green;
}

.cartContainer{
    width: 400px;
}

.cartContainer{
    width: 1000px;
}

.cartContainerFlex{
    display: flex;
    justify-content: center;
}

.cartContainerFlexCol{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cartContainerFlexRow{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.imgCart{
    width: 300px;
    height: 150px;
}

.cartBlock{
    width: 550px;
    height: 25px;
    
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: #FFF;
}

.cartBlock1{
    width: 155px;
    height: 25px;
    
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: #FFF;
}

.cartHr{
    width: 850px;
}

.CheckOutFunctions{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    color: black;
}

.checkoutHR{
    width: 500px;
}

.checkoutContainer{
    width: 400px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}


.textWidth{
    width: 400px;
}
@media screen and (max-width:1000px){
    .StoreDetails{
        width: 200px;
    }

    .imgCart{
        width: 200px;
        height: 75px;
    }

    .cartBlock1{
        width: 100px;
        font-size: 12px;
    }

    .cartBlock{
        width: 150px;
        font-size: 12px;
    }

    .cartHr,.checkoutHR{
        width: 380px;
    }

    .textWidth{
        width: 300px;
    }

    .cartButton{
        width: 150px;
    }
    .imgLocations{
        width: 400px;
        height: 100px;
    }
}

/* Footer CSS */
footer{
    text-align: center;
    color: #FFF;
    background-color: #002417;
}
.footerFlex{
    display: flex;
    justify-content: center;
    
}
.footerCSS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 4px;
    padding-right: 4px;
}