/* Store Css */
.cssFlexBox{
    display: flex;
    justify-content: center;
}

.CartFlex{
    display: flex;
    justify-content: space-between;
}

.navSizing{
    width: auto;
    height: 47.550px;
    background-color: #002417;
}

.navigationBar {
    overflow: hidden;
    background-color: #002417;
}
  
.navigationBar a {
    float: left;
    color: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}

.TopWordsFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.topLineNav {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    position: relative;
    color:  #FFF;
}
  
.topLineNav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 1cm;
    bottom: 0;
    left: 0;
    background-color:  #FFF;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
  
.topLineNav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.imgLocations{
    padding-top: 30px;
    padding-bottom: 15px;
}

.StoreimgFlexing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.StoreimgCol
{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;

}

.textSmallFonts{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
}

.StoreDetails{
    width: 300px;
    cursor: pointer;
}

.cartButton{
    width: 200px;

    color: white;
    background-color: black;
    border: none;
}

.cartButton:hover{
    color: #FFF;
    background-color: green;
}

@media screen and (max-width:1000px){
    .StoreDetails{
        width: 200px;
    }
}